:root {
  --bg-color: #2e2c2f; /* good contrast with white text */
  --accent-color-1: #f3e8ee; /* good contrast with black text */
  --accent-color-2: #bacdb0; /* good contrast with black text */
  --accent-color-3: #729b79; /* good contrast with black text */
  --accent-color-4: #475b63; /* good contrast with white text */

  --color-error: #ca4e4e; /* good contrast with dark background */

  --color-white: #e2e2e2;
  --color-black: #151515;

  --site-font-mono: "Lucida Console", monospace;
  --site-font: "Roboto", sans-serif;
}

body {
  font-family: var(--site-font);
  color: var(--color-white);
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* top navigation bar */
.top-nav-bar {
  background-color: var(--accent-color-3);
  width: 100%;
  min-height: 50px;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.top-nav-bar a {
  color: var(--color-black);
  height: 100%;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
}
.top-nav-bar a:hover {
  background-color: var(--accent-color-2);
}

/* game info */
#game-info {
  margin: 10px;
  padding: 0 25px;
  border-radius: 25px;
  border: 5px solid var(--accent-color-3);
  background-color: var(--color-white);
  color: var(--color-black);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 70%;
  max-width: 600px;
}
#game-info * {
  text-shadow: none;
}
#game-info hr {
  border: 1px solid var(--accent-color-2);
}
#game-info pre {
  white-space: pre-wrap;
  text-align: left;
  font-family: var(--site-font);
}
