:root {
  --bg-color: #2e2c2f; /* good contrast with white text */
  --accent-color-1: #f3e8ee; /* good contrast with black text */
  --accent-color-2: #bacdb0; /* good contrast with black text */
  --accent-color-3: #729b79; /* good contrast with black text */
  --accent-color-4: #475b63; /* good contrast with white text */

  --color-error: #ca4e4e; /* good contrast with dark background */

  --color-white: #e2e2e2;
  --color-black: #151515;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--color-white);
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
}

/* top navigation bar */
.top-nav-bar {
  background-color: var(--accent-color-3);
  width: 100%;
  min-height: 50px;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.top-nav-bar a {
  color: var(--color-black);
  height: 100%;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
}
.top-nav-bar a:hover {
  background-color: var(--accent-color-2);
}
